{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "python",

    "AGENT_API_KEY": "",
    "AGENT_ID": "",
    "AGENT_FORGE_BASE_URL": "https://forge-api.predictionguard.com",

    "MicrosoftAppType": "MultiTenant",
    "MicrosoftAppId": "",
    "MicrosoftAppPassword": "",
    "MicrosoftAppTenantId": "",

    "WELCOME_MESSAGE": "",
    "SYSTEM_PROMPT": "",
    "HISTORY_TURNS": "8"
  }
}
